/* body{ */
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToAw_7skWhSB6gA_axyCzYwunLxNvLxSLTFA&usqp=CAU); */
    /* z-index: 1; */
/* } */

/* .description-other{
    display: none;
} */

.hero{
  position:fixed;
  width: 100%;
  z-index: 1;
}

#movie-finder{
  display: block;
}

.description-other{
  /* display:inline; */
  --animate-duration: 2s;
  /* --animate-delay: 10s; */
  max-height: 30rem;
}

.trailor-div{
  display:none;
}

.image img {
  width: auto;
  height: auto;
  max-width: 256px;
  max-height: 256px;
}

iframe{
  height: 300px;
  width: 600px;
}

div{
  margin: 0;
}

#trailer-card{
  --animate-duration: 2s;
  max-height: 27.5rem;
}

/* 
.card{
  height: 20rem;
  width: 20rem;
} */