/* reset default margins and padding */
* {
    margin: 0;
    padding: 0;
}

/* set the font family and size for all elements */
body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-image: url('image.jpg');
}

/* style the header element */
header {
    background-color: #56f119;
    padding: 20px;
    text-align: center;
    
}

/* style the h1 element within the header */
header h1 {
    color: rgb(248, 18, 18);
    font-size: 3em;
    margin-bottom: 10px;
}

/* style the div with an ID of "modal" */
#modal {
    background-color: #fff;
    border: 1px solid #ccc;
    display: none;
    padding: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

/* style the h2 element within the div */
div h2 {
    color: rgb(228, 243, 20);
    font-size: 2.5em;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align:center;
}

div {
    color: rgb(194, 226, 13);
    text-align: center;
    
}

p {
    color:rgb(243, 247, 26);
    text-align: center;
    font-size: 1.5em;
}

/* style the div with an ID of "search history" */
#search history {
    background-color: #f4f4f4;
    padding: 10px;
}
button{
    background-color: #f9004d;
    color: blanchedalmond;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 30px;
    border: 2px solid #070203;
    border-radius: 5px;
    transition: .4s;
}

input{
    background-color: #ecdf23;
    color: blanchedalmond;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 30px;
    border: 2px solid #070203;
    border-radius: 5px;
    transition: .4s;
}

button:hover{
    background-color: transparent;
    
    border: 2px solid #f9004d;
    cursor: pointer;
}